.Pane{
    -fx-background-image: url("../../../img/inicio.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 700 500;
    -fx-background-position: center center;
}
.Pane1{
    -fx-background-image: url("../../../img/menu.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 700 500;
    -fx-background-position: center center;
}
.Pane2{
    -fx-background-image: url("../../../img/opciones.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 700 500;
    -fx-background-position: center center;
}

.Pane3{
    -fx-background-image: url("../../../img/cargar.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 700 500;
    -fx-background-position: center center;
}
